<!DOCTYPE html> 
<html>
    <head>

        <link rel="stylesheet" href="/css/styles.css"  />

    </head>
    <body>
        {{>header}}

        <p>This site created by Binjan. It uses data from mapbox.com and darksite.net!</p>
        <img class="portrait" src="/img/1.jpg" />
        
        {{>footer}}
    </body>
</html>